<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TowerFE</title>
  <link rel="stylesheet" href="/towerfe/towerfe.css" type="text/css" />
</head>
<body>
<%= erb :header %>
<div id="results">
  <p class="results">
    <%= @projects.length %>
     result<%= 's' if @projects.length > 1 %>
     (<%= '%.2f' % @backend_time %> seconds)
  </p>
  <table>
  <tr>
    <th>Name</th>
    <th>SCM URL</th>
    <th>Branch</th>
    <th>Credential</th>
  </tr>
  <% @projects.each do |t| %>
  <tr>
    <td><%= t['name'] %></td>
    <td><%= t['scm_url'] %></td>
    <td><%= t['scm_branch'] %></td>
    <% if (t['summary_fields']['credential']) %>
      <td><%= t['summary_fields']['credential']['name'] %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
  </table>
</div>
</body>
</html>
